{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": [
                    { "@components": "./src/components/" },
                    { "@pages": "./src/pages/" },
                    { "@services": "./src/services" },
                    { "@layouts": "./src/layouts/" },
                    { "@contexts": "./src/contexts/" },
                    { "@utils": "./src/utils/" },
                    { "@hooks": "./src/hooks/" },
                    { "@constants": "./src/constants/" },
                    { "@styles": "./src/scss/" },
                    { "@styled": "./src/styled/" }
                ]
            }
        ]
    ]
}
