.field-set {

    > .MuiFormControl-root {
        
        margin-left: 1rem !important;
        margin-left: 1rem !important;
    } 

    > .MuiFormControl-root:first-child {

        margin-left: 0 !important;
    }

    > .MuiFormControl-root:last-child {
        margin-right: 0 !important;
    }
}

button.selected {
    background: green;
}

.locale-tag {
    position: absolute;
    top: -.5rem;
    right: .25rem;
    background-color: white;
    padding:0 .25rem;
    font-size: .89rem;
    color: rgba($color: #000000, $alpha: .4)
}
