.field-set {

    > .MuiFormControl-root {
        
        margin-left: 1rem !important;
        margin-left: 1rem !important;
    } 

    > .MuiFormControl-root:first-child {

        margin-left: 0 !important;
    }

    > .MuiFormControl-root:last-child {
        margin-right: 0 !important;
    }
}
