.c-page {
    min-height: 100vh;
    background-color: rgb(236, 234, 220);
}
@keyframes flash {

    50% { opacity: 1; }
    100% { opacity: 0; }
}

.anim {
    animation-duration: .3s;

    animation-name: flash;
}

.c-page--project {

    position: relative;
    padding: 2rem 0 0 0;
}
