.c-panel {

    background-color: white;
    border-radius: 4px;

    > div {
        margin-bottom: 1rem;
    }
    > :last-child {
        margin-bottom: 0;
    }

    &--atlass {
        min-height: 19rem;
    }

    &--heels {
        margin-bottom: 1.8125rem;
    }
}
