.c-site-logo {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    width: 124px;
    height: 124px;
    border-right: 3px solid rgba(255, 255, 255, .27);
    border-bottom: 3px solid rgba(255, 255, 255, .27);
    margin: 0 0 4rem 2rem;
    box-shadow: 26px 25px 43px 6px hsla(38, 11%, 61%, 0.52), 26px 25px 75px 25px hsla(38, 16%, 61%, 0.66), -70px -70px 126px 50px rgba(248, 234, 211, 0.9);
    
    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        border-radius: 50%;
        background: radial-gradient(at 75px 75px, rgba(255,255,255,.5) 0%, rgba(255,255,255, .35) 10%,  rgba(0, 0, 0, .01) 50%, rgba(0,0,0,.01) 100%);
        width: 118px;
        height: 118px;
        border-top: 3px solid rgba(0, 0, 0,.1);
        border-left: 3px solid rgba(0, 0, 0,.1);
        box-shadow: inset -5px -5px 32px hsla(38, 72%, 90%, 0.3), inset 5px 6px 20px 7px rgba(0,0,0,.12);
    }
}

.c-site-logo__img {
    position: relative;
    z-index: 1;
    margin-top: .3rem;
    width: 84px;
    height: 68px;
}
