.tbl--top {

    td {
        vertical-align: top;
    }

    thead {
        th {
            text-align: left;
        }
    }

    tbody {
        th {
            vertical-align: top;
            text-align: left;
            padding-right: .5rem;
        }
    }
}

.tbl--pill {
    tbody {
        th {
            vertical-align: top;
            padding: .25rem;
            padding-right: .5rem;
            text-align: left;
        }
    }
}
